<%= image_tag("airseaplanejpg.jpg", class: "bg-image shadow-2-strong", id:"bg", alt: "an image of a seaplane") %>

<% if @active_requests.count > 0 %>
  <h2>Requests for bookings</h2>
<% end %>
<% @active_requests.each do |booking| %>
  <div class="card-product">
    <%= cl_image_tag booking.seaplane.photo.key %>
    <div class="card-product-infos">
      <h2><%= booking.user.user_name %> has requested to book <%= booking.seaplane.name %> from <%= booking.start_date.strftime('%d/%m/%Y') %> until <%= booking.end_date.strftime('%d/%m/%Y') %></p>
      <%= link_to 'Approve', approve_booking_path(booking), method: :patch, class: "btn btn-primary" %>
      <%= link_to 'Reject', reject_booking_path(booking), method: :patch, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

<% if @upcoming_bookings.count > 0 %>
  <h2>Upcoming bookings</h2>
<% end %>
<% @upcoming_bookings.each do |booking| %>
  <div class="card-product">
    <%= cl_image_tag booking.seaplane.photo.key %>
    <div class="card-product-infos">
      <h2><%= booking.user.user_name %> is due to take <%= booking.seaplane.name %> from <%= booking.start_date.strftime('%d/%m/%Y') %> until <%= booking.end_date.strftime('%d/%m/%Y') %></p>
    </div>
  </div>
<% end %>
