<%= image_tag("seaplanesunset.jpg", class: "bg-image shadow-2-strong", id:"bg", alt: "an image of a seaplane") %>

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= simple_form_for :search, url: pages_search_path, method: "GET" do |f| %>
        <%= f.input :category, collection: @seaplane_category, placeholder: "seaplane category",label: false, class: "boxrounded" %>
        <%= f.input :price, placeholder: "maximum price per day",label: false, class: "boxrounded" %>
        <%= f.input :capacity, placeholder: "number of passengers", label: false, class: "boxrounded" %>
        <%= f.submit "Search", class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

<% if @seaplanes %>
  <div class="row justify-content-between mt-3" id="cardhome">
    <% @seaplanes.each do |seaplane| %>
      <div class="card col-sm-6 col-md-4 col-lg-3 p-0 m-1" id="singlecard">
        <%= cl_image_tag seaplane.photo.key, class: "singleimg" %>
        <div class="card-body">
          <h5 class="card-title"><%= seaplane.name %></h5><br>
          <h6 class="card-subtitle mb-2 text-muted"><strong>£<%= seaplane.price %></strong> <%= seaplane.location %></h6><br>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-friends"> <%= seaplane.capacity %></h6></i><br>
          <em class="card-text"><%= seaplane.description %></em><br><br>
          <%= link_to "view details", seaplane_path(seaplane), class: "btn btn-outline-success btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
