
<%= image_tag("seaplanesunset.jpg", class: "bg-image shadow-2-strong", id:"bg", alt: "an image of a seaplane") %>

<h1 class='text-white text-center mt-6'>AIR SEA AND SEA</h1>
<h3 class='text-white text-center'>Once in a lifetime experience, book a seaplane today!</h3>

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
      <%= simple_form_for :search, url: pages_search_path, method: "GET",
        wrapper: :inline_form,
        html: { class: "row row-cols-lg-auto g-3 align-items-center justify-content-center m-3" },
        wrapper_mappings: {
        boolean: :inline_boolean
      } do |f| %>
        <div class="m-2"><%= f.input :category, collection: @seaplane_category, prompt: "seaplane category", label: false, class: "boxrounded" %></div>
        <div class="m-2"><%= f.input :price, placeholder: "maximum price per day",label: false, class: "boxrounded" %></div>
        <div class="m-2"><%= f.input :capacity, placeholder: "number of passengers", label: false, class: "boxrounded" %></div>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <%= f.submit "Search", class: "btn btn-ghost mt-3" %>
      <% end %>
    </div>
  </div>
</div>

<% if @seaplanes %>
  <div class="row justify-content-between mt-3" id="cardhome">
    <% @seaplanes.each do |seaplane| %>
      <div class="card col-sm-6 col-md-4 col-lg-3 p-0 m-1" id="singlecard">
        <%= cl_image_tag seaplane.photo.key, class: "singleimg" %>
        <div class="card-body">
          <h5 class="card-title"><%= seaplane.name %></h5><br>
          <h6 class="card-subtitle mb-2 text-muted"><strong>£<%= seaplane.price %></strong> <%= seaplane.location %></h6><br>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-friends"> <%= seaplane.capacity %></h6></i><br>
          <em class="card-text"><%= seaplane.description %></em><br><br>
          <%= link_to "view details", seaplane_path(seaplane),  class: "btn btn-ghost mt-3", id: "btn-index" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
