<img src="https://media.istockphoto.com/photos/blue-mesh-gradient-blurred-motion-abstract-background-picture-id1185747322?k=20&m=1185747322&s=612x612&w=0&h=Sy7s4nSTKEbDFY1HRAijhMJVRZd4_9rACOOjkkNa5bs=" class="bg-image shadow-2-strong" id="bg" alt="an image of a seaplane">

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <%= simple_form_for(@seaplane) do |s| %>
        <%= s.input :name, placeholder: "Name", label: false%>
        <%= s.input :description, placeholder: "Description",label: false%>
        <%= s.input :location, placeholder: "Location",label: false %>
        <%= s.input :price, placeholder: "Price",label: false %>
        <%= s.input :category, placeholder: "Category",label: false %>
        <%= s.input :availability, placeholder: "Availability",label: false%>
        <%= s.input :capacity, placeholder: "Capacity",label: false %>
        <%= s.input :photo, as: :file, label: false%>
        <%= s.submit class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
