<img src="https://media.istockphoto.com/photos/blue-mesh-gradient-blurred-motion-abstract-background-picture-id1185747322?k=20&m=1185747322&s=612x612&w=0&h=Sy7s4nSTKEbDFY1HRAijhMJVRZd4_9rACOOjkkNa5bs=" class="bg-image shadow-2-strong" id="bg" alt="an image of a seaplane">

<div class="container">
  <div class="column text-center py-4 rounded">
    <%= simple_form_for(@seaplane) do |s| %>
      <%= s.input :name %>
      <%= s.input :description %>
      <%= s.input :location %>
      <%= s.input :price %>
      <%= s.input :category %>
      <%= s.input :availability %>
      <%= s.input :capacity %>
      <%= s.input :photo, as: :file %>
      <%= s.submit class: "btn btn-primary rounded" %>
    <% end %>
  </div>
</div>
