<img src="https://media.istockphoto.com/photos/blue-mesh-gradient-blurred-motion-abstract-background-picture-id1185747322?k=20&m=1185747322&s=612x612&w=0&h=Sy7s4nSTKEbDFY1HRAijhMJVRZd4_9rACOOjkkNa5bs=" class="bg-image shadow-2-strong" id="bg" alt="an image of a seaplane">

<h1>Find your perfect seaplane today</h1>

<%# pending task on this file is to add cloudinary image tag at seaplane, at this stage we can just have a placeholder %>

<div class="row justify-content-between mt-3" id="cardhome">
  <% @seaplanes.each do |seaplane| %>
    <div class="card col-sm-6 col-md-4 col-lg-3 p-0 m-1" id="singlecard">
      <%= cl_image_tag seaplane.photo.key, class: "singleimg" %>
        <div class="card-body">
          <h5 class="card-title"><%= seaplane.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><strong>£<%= seaplane.price %></strong> <%= seaplane.location %></h6><br>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-friends"> <%= seaplane.capacity %></h6></i><br>
          <em class="card-text"><%= seaplane.description %></em><br><br>
          <%= link_to "view details", seaplane_path(seaplane), class: "btn btn-outline-success btn-sm" %>
        </div>
    </div>
  <% end %>
</div>
