<h1>Find your perfect seaplane today</h1>

<%# pending task on this file is to add cloudinary image tag at seaplane, at this stage we can just have a placeholder %>

<div class="row justify-content-between">
  <% @seaplanes.each do |seaplane| %>
    <div class="card col-sm-6 col-md-4 col-lg-3">
      <img src="https://source.unsplash.com/1600x900/?seaplane" class="card-img-top" alt="an image of a seaplane">
      <div class="card-body">
        <h5 class="card-title"><%= seaplane.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">£<%= seaplane.price %> <%= seaplane.location %></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= seaplane.capacity %> people max</h6>
        <p class="card-text"><%= seaplane.description %></p>
        <%= link_to "view details", seaplane_path(seaplane) %>
      </div>
    </div>
  <% end %>
</div>
