<%= image_tag("airseaplanejpg.jpg", class: "bg-image shadow-2-strong", id:"bg", alt: "an image of a seaplane") %>

<h1 class="text-center text-white pt-5">Find your perfect seaplane today</h1>

<div class="form-container">
  <div class="row justify-content-center ">
    <div class="col-12 col-md-8">
      <%= form_tag seaplanes_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Write a name or location"
        %>
        <%= submit_tag "Search", class: "btn btn-ghost mt-5" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-between mt-3" id="cardhome">
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"></div>
  <% @seaplanes.each do |seaplane| %>
    <div class="card col-sm-6 col-md-4 col-lg-3 p-0 m-1" id="singlecard">
      <% if seaplane.photo.attached? %>
      <%= cl_image_tag seaplane.photo.key, class: "singleimg" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= seaplane.name %></h5>

          <h6 class="card-subtitle mb-2 text-muted"><strong>£<%= seaplane.price %></strong> <%= seaplane.location %></h6><br>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-user-friends"> <%= seaplane.capacity %></h6></i><br>
          <em class="card-text"><%= seaplane.description %></em><br><br>
          <%= link_to "view details", seaplane_path(seaplane), class: "btn btn-ghost mt-3 btn-sm", id: "btn-index" %>
        </div>
    </div>
  <% end %>
</div>
