<img src="https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-sexy-blue.png" class="bg-image shadow-2-strong" id="bg" alt="an image of a seaplane">

<div class="container d-flex justify-content-between mt-5 mb-5">
  <div class="row">
    <div class="col-6"></div>
      <%= cl_image_tag @seaplane.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <% @booking = Booking.new %>
    <div class="col-4" id='seaplane-booking-dates' data-unavailable="<%= @seaplane.unavailable_dates.to_json %>">
      <h4>Book this seaplane!</h4>
      <%# if current_user.id != @seaplane.user_id  %>
        <%= simple_form_for([@seaplane, @booking]) do |f| %>
            <%= f.input :start_date, as: :date, html5: true %>
            <%= f.input :end_date, as: :date, html5: true %>
            <%= f.submit "Book", class: "btn btn-primary" %>
          <% end %>
      <%# end %>
    </div>
  </div>
  <h1><%= @seaplane.name %></h1>

  <h3><%= @seaplane.description %></h3>

<p><em>Category: <%= @seaplane.category %></em></p>

  <p>You can find the plane at <%= @seaplane.location %></p>

<p>You can rent this plane for $<%= @seaplane.price %></p>

  <p>This plane can hold a maximum of <%= @seaplane.capacity %></p>

  <h4>Reviews for <%= @seaplane.name %>:</h4>
  <%# if @seaplane.bookings%>
  <% @seaplane.bookings.each do |booking| %>
    <% if booking.review%>
      <p><% booking.review.rating.to_i.times do  %>
        <i class="far fa-star"></i>
      <% end %>
      "<%= booking.review.comment %>"</li>
    <% end %>
  <% end %></p>
  <%= link_to "back to all planes", seaplanes_path %>
</div>
