<%= image_tag("airseaplanejpg.jpg", class: "bg-image shadow-2-strong", id:"bg", alt: "an image of a seaplane") %>

<div class="container d-flex justify-content-between mt-5 mb-5">
  <div class="row">
    <div class="col-6"></div>
      <% if @seaplane.photo.attached? %>
        <%= cl_image_tag @seaplane.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <% @booking = Booking.new %>
    <div class="col-4 text-white" id='seaplane-booking-dates' data-unavailable="<%= @seaplane.unavailable_dates.to_json %>">
      <h4>Book this seaplane!</h4>
      <%# if current_user.id != @seaplane.user_id  %>
        <%= simple_form_for([@seaplane, @booking]) do |f| %>
            <%= f.input :start_date, as: :date, html5: true, class: "text-white" %>
            <%= f.input :end_date, as: :date, html5: true, class: "text-white" %>
            <%= f.submit "Book", class: "btn btn-ghost" %>
          <% end %>
      <%# end %>
    </div>
  </div>
  <h1 class="text-white"><%= @seaplane.name %></h1>

  <h3 class="text-white"><%= @seaplane.description %></h3>

<p class="text-white"><em>Category: <%= @seaplane.category %></em></p>

  <p class="text-white">You can find the plane at <%= @seaplane.location %></p>

<p class="text-white">You can rent this plane for $<%= @seaplane.price %></p>

  <p class="text-white">This plane can hold a maximum of <%= @seaplane.capacity %></p>

  <h4 class="text-white">Reviews for <%= @seaplane.name %>:</h4>
  <%# if @seaplane.bookings%>
  <% @seaplane.bookings.each do |booking| %>
    <% if booking.review %>
      <p class="text-white"><% booking.review.rating.to_i.times do  %>
        <i class="far fa-star"></i>
    <% end %>
      "<%= booking.review.comment %>"</li>
    <% end %>
  <% end %></p>
  <%= link_to "back to all planes", seaplanes_path, class: "btn btn-ghost" %>
</div>
