<div class="container d-flex justify-content-between mt-5 mb-5">
  <div class="row">
    <div class="col-6"></div>
      <%= cl_image_tag @seaplane.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <% @booking = Booking.new %>
    <div class="col-4" id='seaplane-booking-dates' data-unavailable="<%= @seaplane.unavailable_dates.to_json %>">
      <h4>Book this seaplane!</h4>
      <%# if current_user.id != @seaplane.user_id  %>
        <%= simple_form_for([@seaplane, @booking]) do |f| %>
            <%= f.input :start_date, as: :string, type: :text %>
            <%= f.input :end_date, as: :string, type: :text %>
            <%= f.submit "Book", class: "btn btn-primary" %>
          <% end %>
      <%# end %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h1><%= @seaplane.name %></h1>

  <h3><%= @seaplane.description %></h3>

  <p>This is a <%= @seaplane.category %></p>

  <p>You can find the plane at <%= @seaplane.location %></p>

  <p>You can rent this plane for <%= @seaplane.price %></p>

  <p>This plane can hold a maximum of <%= @seaplane.capacity %></p>


  <%= link_to "back to all planes", seaplanes_path %>
</div>
