<!DOCTYPE html>
<html>
  <head>
    <title>AIRSeaAndSea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg p-4 navbar-lewagon" >
      <%= link_to (image_tag("logo.png", alt:"AirSea&Sea", style:"width: 90px", id:"navimg")), root_path%>
      <button class="navbar-toggler" id="nav-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Rent a Seaplane", seaplanes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "List your Seaplane", new_seaplane_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <% if current_user.seaplanes.count > 0 %>
            <li class="nav-item">
              <%= link_to "My requests", my_requests_bookings_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "My bookings", my_bookings_bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              <%= current_user.user_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Log out', '/users/sign_out', method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', '/users/sign_in', class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', '/users/sign_up', class: "nav-link" %>
          </li>
          <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container" style="min-height: 83vh; margin-top: 20px; margin-botton: 20px">
      <%= yield %>
    </div>

    <div class="footer" id="footerhome">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        We <i class="fas fa-heart"></i> Sea-planes
      </div>
    </div>

  </body>
</html>
